{% extends "main-layout.html" %}

{% block title %}
    About Me
{% endblock %}


<!-- About Me Content -->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">About Me</h1>
                    <p class="card-text">Hello! I'm Masoud, the creator of the Face Analysis Project. With a passion for technology and AI, I embarked on this journey to explore the capabilities of artificial intelligence in facial analysis. This project aims to demonstrate how AI can be used to analyze facial features and provide insightful data.</p>
                    <p class="card-text">My background includes experience in software development, machine learning, and data science. I enjoy working on innovative projects that push the boundaries of technology. Through this project, I hope to showcase the potential of AI and inspire others to explore this exciting field.</p>
                    <p class="card-text">Feel free to reach out if you have any questions or would like to collaborate on future projects. Thank you for visiting!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

