{% extends "main-layout.html" %}

{% block title %}
    About This Project
{% endblock %}

<!-- About This Project Content -->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">About This Project</h1>
                    <p class="card-text">HermesSight is a web application that leverages artificial intelligence to provide users with advanced image analysis capabilities. The project combines facial emotion recognition, object detection, and health-related calculations to offer a comprehensive suite of tools for image processing and personal health assessment.</p>
                    <p class="card-text">Built using Flask, the application integrates various AI models and libraries to analyze uploaded images, detecting emotions in faces and identifying objects within the frame. Additionally, it includes a BMR (Basal Metabolic Rate) calculator to help users estimate their daily calorie needs. With features like user authentication and profile management, HermesSight aims to deliver a personalized and secure experience for exploring the intersection of AI and personal analytics.</p>
                    <p class="card-text">We believe in the potential of AI to transform the way we interact with technology and are committed to exploring new frontiers in this exciting field. Thank you for joining us on this journey, and we hope you find our project both informative and inspiring.</p>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}

