{% extends "main-layout.html" %}

{% block title %}
    HermesSight
{% endblock %}

<!-- Home -->
{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="row justify-content-center">
                    <h1 class="display-4">Explore AI-Powered Face Analysis</h1>
                    <p class="lead">Join us in leveraging AI technology to uncover insights from your facial features. Register now to start your journey!</p>
                    <div class="mt-4 mb-4">
                        <a href="signin" class="btn btn-primary btn-lg btn-custom mr-3">Sign In</a>
                        <a href="signup" class="btn btn-success btn-lg btn-custom">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
