{% extends "main-layout.html" %}


{% block title %}
    Contact
{% endblock %}


<!-- Contact Content -->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h1 class="mb-4 text-center">Contact</h1>
                <div class="card-body">
                    <h4 class="card-title">Masoud Navidi</h4>
                    <p class="card-text"><strong>Profession:</strong> Python Programmer, NLP Expert</p>
                    <p class="card-text"><strong>Email:</strong> <a href="mailto:navidi.m.91@gmail.com">navidi.m.91@gmail.com</a></p>
                    <p class="card-text"><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/m-navidi/" target="_blank">https://www.linkedin.com/in/m-navidi/</a></p>
                    <p class="card-text"><strong>Phone Number:</strong> +33 6 35625450</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


