<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Admin Dashboard</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/tables_styles.css') }}" rel="stylesheet">


</head>
<body class="profile-page">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/profile">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="logout">log out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content -->
<div class="container mt-2">
    <div class="card mb-4 mt-4 costume-card">
        <h1 class="card-title mt-4">Database access</h1>
        <select id="table-select">
            <option value="">--Select Table--</option>
            {% for table in tables %}
            <option value="{{ table }}">{{ table }}</option>
            {% endfor %}
        </select>
    
        <div class="table-container">
            <table id="data-table">
                <thead>
                    <tr id="table-headers"></tr>
                </thead>
                <tbody id="table-body">
                    {% for idx, row in enumerate(table_data) %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                        <td>
                            <button class="apply-btn">apply</button>
                            <button class="cancel-btn">Cancel</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/activation_script.js') }}" defer></script>
</div>

<!-- Flash message -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<!-- Chatbot Button -->
<button class="chatbot-btn" id="chatbotBtn">
    <img src="static/images/chatbot.png" alt="Chatbot">
</button>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-maA7+F1Cm0ByCPH3Q8mFc3usgxu2/EMF5UtDNOgjFE57R/+uxE1AqkCf4n7+DHSb"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2FuxXvXkVcKJb4/Uq5tpjB6AnZ1TJjq8"
    crossorigin="anonymous"></script>
        
<script>
    $(document).ready(function() {
        var flashMessage = $('.flash-message');
        const chatbotAdminUrl = "{{ url_for('chatbot_admin') }}";

        if (flashMessage.children().length > 0) {
            flashMessage.fadeIn('fast', function() {
                setTimeout(function() {
                    flashMessage.fadeOut('slow');
                }, 3000); // Display for 3 seconds
            });
        }

        // Redirect to chatbot.html when the button is clicked
        $('#chatbotBtn').click(function() {
            window.location.href = chatbotAdminUrl;
        });

    });
</script>

</body>
</html>