<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slider_styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password_styles.css') }}">
    <title>
        Reset password
    </title>
</head>
<body>
    
    
    <!-- put this container in the center -->
    <div class="form-container">
        <form {% block reset_password %}{% endblock %}>
            
            {% if message %}
                {% if "invalid or has expired" in message %}
                    <div class="alert alert-danger" role="alert">
                        <i class="fas fa-exclamation-circle me-2"></i>{{ message }}
                    </div>
                    <p class="mt-3">Please request a new confirmation link.</p>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        <i class="fas fa-check-circle me-2"></i>{{ message }}
                    </div>
                {% endif %}
            {% endif %}
            
            <h1>Reset Your password</h1>
            <br>
            <span>Please enter your new password:</span>
            <div class="input-with-icon">
                <input type="hidden" name="email" value="{{ email }}">
                <input type="password" placeholder="Password" name="password"/>
                <span class="password-hint-icon">i
                    <div class="password-hint-box">
                        <strong>Please make sure that your password contains:</strong>
                        <ul>
                            <li>at least 12 characters</li>
                            <li>one uppercase letter</li>
                            <li>one lowercase letter</li>
                            <li>a number</li>
                            <li>a special character</li>
                        </ul>
                    </div>
                </span>
            </div>
            <input type="password" placeholder="Retype Password" name="repassword"/>
            <br>
            <button>Confirm</button>
        </form>
    </div>
    
    <!-- Flash message -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='js/slider_script.js') }}"></script>
    
</body>
</html>