{% extends 'signin-layout.html' %}


{% block title %}
    Admins Log in
{% endblock %}

{% block active_panel %}
    right-panel-active
{% endblock %}

{% block signup_action %}
    action="{{ url_for('signup_admin') }}" method="POST"
{% endblock %}

{% block signin_action %}
    action="{{ url_for('signin_admin') }}" method="POST"
{% endblock %}

{% block forget_action %}
    forget-password-admin
{% endblock %}

{% block content1 %}
    Admin
{% endblock %}

{% block content2 %}
    Admin
{% endblock %}


